{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/finches/finch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finch List</h1>
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <a href="/finches/{{ finch.id }}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src=""
          >
        </div>
        <h2 class="card-title">{{ finch.name }}</h2>
        {% if finch.age > 0 %}
          <p>A {{ finch.age }} year old {{ finch.breed }}</p>
        {% else %}
          <p>A {{ finch.breed }} hatchling.</p>
        {% endif %}
        <p><small>{{ finch.description }}</small></p>
      </div>
    </a> 
    </div>
  {% endfor %}
</section>

{% endblock %} 